body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    
}
/* ------Header Start------ */
header {
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 75px;
}
header .main-header-section{
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    
}

header .leftnav .logo img{
    height: 44px;
    margin-top: 14px; 
    /* background-color: blueviolet; */
}
header .centernav{
    width: 40%;
    margin-left: 200px;
    /* background-color: aqua; */
    
}
header .centernav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 77px;
    font-family: 'Baloo Da 2';
}
header .centernav ul li{
    min-width: 100px;
    line-height: 75px;
    text-align: center;
    font-size: 16.5px;
    
}
header .centernav ul li a{
    text-decoration: none;
    color: white;
}
header .centernav ul li a:hover{
    border-bottom: 2px solid rgb(110, 110, 110);

}
header .search{
    line-height: 75px;
    margin-left: -108px;
    /* background-color: red; */
}
header .search input{
    background-color: rgb(189, 189, 189);
    border-radius: 190px;
    width: 128px;
    height: 28px;
    border: none;
    outline: none;
    
}
header .search button{
    background-color: rgb(189, 189, 189);
    border: none;
    border-radius: 100px;
    height: 20px;
    width: 22px;
    margin-left: -128px; 
}
::placeholder{
    text-align: center;
}
.rightnav{
    min-width: 10px;
    line-height: 75px;
    /* background-color: aqua; */
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.heartcon {
    width: 30%;
    /* background-color: brown; */
    text-align: center;
    font-size: 17px;
}
.heartcon a i{
    color: white;
}
.usercon {
    width: 30%;
    /* background-color: blueviolet; */
    text-align: center;
    font-size: 20px;
}
.usercon a i{
    color: white;
}
.idkcon{
    width: 30%;
    /* background-color: cadetblue; */
    text-align: center;
}
 .rightnav a i:hover{
    color: rgb(100, 100, 100);
 }
/* -------Header End-------- */
/* -------Main-------- */
/* =========Mid Part========== */
.midpart{
    /* text-align: center; */
    font-size: 38px;
    margin-top: 50px;
    /* height: 520px; */
    position: relative;
    
}
.midpart p {
    width: 90%;
    margin: auto;
    font-size: 28px;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    font-family: 'Baloo Da 2';
}
.midpart .designcon{
    text-align: center;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: cadetblue; */
}
.designcon .leftcon{
    width: 32%;
    height: 100%;
    margin-top: -10px;
    flex-direction: column;
    /* background-color: brown; */
}
.designcon .leftcon img{
    height: 100%;
    width: 80%;
    /* background-color: rgb(175, 175, 175); */
    
}
.designcon .leftcon img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}


.designcon .leftcon .text{
    line-height: 35px;
    word-spacing: none;
    letter-spacing: none;
    /* text-align: start; */
    font-family: 'Baloo Da 2';
}
.designcon .leftcon .text :nth-child(2) {
    font-size: 16px;
}
.designcon .leftcon .text :nth-child(1) {
    font-size: 18px;
    font-weight: 400;
}
.designcon .midcon{
    width: 32%;
    height: 100%;
    /* background-color: blueviolet; */
}
.designcon .midcon img{
    width: 80%;
    height: 100%;
    /* background-color: rgb(0, 0, 0); */
}
.designcon .midcon img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.designcon .midcon .text2{
    /* background-color: aqua; */
    line-height: 35px;
    word-spacing: none;
    letter-spacing: none;
    /* text-align: start; */
    font-family: 'Baloo Da 2';
}
.designcon .midcon .text2 :nth-child(2) {
    font-size: 16px;
    /* font-weight: 550; */
}
.designcon .midcon .text2 :nth-child(1) {
    font-size: 18px;
    font-weight: 400;
    /* font-weight: 550; */
}
.designcon .rightcon{
    width: 32%;
    height: 100%;
    /* background-color: rgb(21, 35, 36); */
}
.designcon .rightcon img{
    width: 80%;
    height: 100%;

}
.designcon .rightcon img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.designcon .rightcon .text3{
    line-height: 35px;
    word-spacing: none;
    letter-spacing: none;
    /* text-align: start; */
    font-family: 'Baloo Da 2';
}
.designcon .rightcon .text3 :nth-child(2) {
    font-size: 16px;
}
.designcon .rightcon .text3 :nth-child(1) {
    font-size: 18px;
    font-weight: 400;
}
main img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
    background-color: rgb(201, 201, 201);
}
main img{
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
}

/* ========= End Mid Part========== */
/* ---------box2------- */
.mid{
    
    font-size: 38px;
    margin-top: 50px;
    /* height: 320px; */
    position: relative;
    /* background-color: aqua; */
    
}
.mid .box2{
    text-align: center;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    /* background-color: gray; */
    justify-content: space-between;
}
.box2 .leftcon{
    width: 32%;
    height: 100%;
    /* background-color: brown; */
    
}
.box2 .leftcon img{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
.box2 .leftcon img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.box2 .leftcon .newtext{
    line-height: 35px;
    word-spacing: none;
    letter-spacing: none;
    /* text-align: start; */
    font-family: 'Baloo Da 2';
}
.box2 .leftcon .newtext :nth-child(2) {
    font-size: 16px;
}
.box2 .leftcon .newtext :nth-child(1) {
    font-size: 18px;
    font-weight: 400;
}
.box2 .midcon{
    width: 32%;
    height: 100%;
    /* background-color: blueviolet; */
}
.box2 .midcon img{
    width: 100%;
    height: 100%;
}
.box2 .midcon img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.box2 .midcon .newtext2{
    line-height: 35px;
    word-spacing: none;
    letter-spacing: none;
    /* text-align: start; */
    font-family: 'Baloo Da 2';
}
.box2 .midcon .newtext2 :nth-child(2) {
    font-size: 16px;
}
.box2 .midcon .newtext2 :nth-child(1) {
    font-size: 18px;
    font-weight: 400;
}
.box2 .rightcon{
    width: 32%;
    height: 100%;
    /* background-color: cadetblue; */
}
.box2 .rightcon img{
    width: 100%;
    height: 100%;
}
.box2 .rightcon img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.box2 .rightcon .newtext3{
    line-height: 35px;
    word-spacing: none;
    letter-spacing: none;
    /* text-align: start; */
    font-family: 'Baloo Da 2';
}
.box2 .rightcon .newtext3 :nth-child(2) {
    font-size: 16px;
}
.box2 .rightcon .newtext3 :nth-child(1) {
    font-size: 18px;
    font-weight: 400;
}
/* -----end box2------- */
/* --------- lasty box3 ------- */
.lasty{
    font-size: 38px;
    margin-top: 50px;
    /* height: 320px; */
    position: relative;
    /* background-color: aqua; */
    
}
.lasty .box3{
    text-align: center;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: gray; */
}
.box3 .leftcon{
    width: 32%;
    height: 100%;
    /* background-color: brown; */
    
}
.box3 .leftcon img{
    height: 100%;
    width: 100%;
}
.box3 .leftcon img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.box3 .leftcon .newtext{
    line-height: 35px;
    word-spacing: none;
    letter-spacing: none;
    /* text-align: start; */
    font-family: 'Baloo Da 2';
}
.box3 .leftcon .newtext :nth-child(2) {
    font-size: 16px;
}
.box3 .leftcon .newtext :nth-child(1) {
    font-size: 18px;
    font-weight: 400;
}
.box3 .midcon{
    width: 32%;
    height: 100%;
    /* background-color: blueviolet; */
}
.box3 .midcon img{
    width: 100%;
    height: 100%;
}
.box3 .midcon img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.box3 .midcon .newtext2{
    line-height: 35px;
    word-spacing: none;
    letter-spacing: none;
    /* text-align: start; */
    font-family: 'Baloo Da 2';
}
.box3 .midcon .newtext2 :nth-child(2) {
    font-size: 16px;
}
.box3 .midcon .newtext2 :nth-child(1) {
    font-size: 18px;
    font-weight: 400;
}
.box3 .rightcon{
    width: 32%;
    height: 100%;
    /* background-color: cadetblue; */
}
.box3 .rightcon img{
    width: 100%;
    height: 100%;
}
.box3 .rightcon img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.box3 .rightcon .newtext3{
    line-height: 35px;
    word-spacing: none;
    letter-spacing: none;
    /* text-align: start; */
    font-family: 'Baloo Da 2';
}
.box3 .rightcon .newtext3 :nth-child(2) {
    font-size: 16px;
}
.box3 .rightcon .newtext3 :nth-child(1) {
    font-size: 18px;
    font-weight: 400;
}
/* -----end box3------- */
/* =========Footer========= */
.foot {
    background-color: rgb(0, 0, 0);
    height: 120px;
    width: 100%;
    /* position: relative; */
    margin-top: 200px;
    
    
}
.prefootcon {
    position: relative;
    /* margin: 90%; */
    width: 90%;
    margin: auto;
    display: flex;
    height: 100%;
    /* background-color: aqua; */
    

}
.leftprefoot {
    /* background-color: brown; */
    height: 60px;
    width: 105px;
    margin-top: 30px;
    
    
}
.leftprefoot img{
    height: 100%;
    width: 100%;
}
.midprefoot {
    /* background-color: aqua; */
    height: 68px;
    width: 335px;
    /* position: relative; */
    left: 90px;
    margin-top: 25px;
    margin-left: 60px;
    
    
}
.midprefoot input{
    margin-top: 28px;
    height: 30px;
    width: 245px;
    margin-top: -5px;
    outline: none;
    position: relative;
    
    
}

.midprefoot p{
    font-size: 13px;
    margin-top: 4px;
    color: white;
    font-family: sans-serif;
    font-style: normal;
    
}
button{
    background-color: rgb(75, 75, 75);
    height: 36px;
    width: 83px;
    border: none;
    /* position: relative; */
    margin-left: -6px;
    /* text-align: center; */
    
}
button .submit{
    color: white;
    cursor: pointer;
}
.rightprefoot {
    /* background-color: aqua; */
    height: 33px;
    width: 135px;
    left: 90px;
    margin-top: 42px;
    margin-left: 560px;
    display: flex;
    justify-content: space-between;
}
.twitter {
    height: 100%;
    width: 28%;
}
.twitter img {
    width: 90%;
    height: 100%;
    border: 1px;
    border-radius: 30px;
}
.twitter img:hover{
    opacity: 60% ;
    
}
.facebook {
    height: 100%;
    width: 28%;
    /* background-color: rgb(212, 145, 145); */
}
.facebook img{
    width: 90%;
    height: 100%;
    border: 1px;
    border-radius: 30px;
}
.facebook img:hover{
    opacity: 60% ;
    
}
.insta {
    height: 100%;
    width: 28%;
    /* background-color: rgb(138, 64, 182); */
}
.insta img{
    width: 90%;
    height: 100%;
    border: 1px;
    border-radius: 30px;
}
.insta img:hover{
    opacity: 60% ;
    
}
/* ---------mainfoot------- */

footer {
    background-color: rgb(65, 65, 65);
    margin-top: -16px;
    height: 300px;
}
.box {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    /* position: relative; */
    display: flex;

}
.box ul li a:hover{
    color: rgb(168, 168, 168);
    text-decoration:underline;
}
.leftfoot {
    /* background-color: purple; */
    width: 25%;
    height: 100%;
}
.leftfoot p{
    color: white;
    margin-left: 80px;
    /* font-weight: bold; */
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 400;

}
.leftfoot ul {
    margin-left: 40px;
    font-family: 'Baloo Da 2';
    font-weight: 400;
}
.leftfoot ul li {
    list-style: none;
    line-height: 30px;
}
.leftfoot ul li a{
    text-decoration: none;
    color: white;
}
.midfoot {
    width: 25%;
    height: 100%;
    /* background-color: aqua; */
}
.midfoot p{
    color: white;
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 400;

}
.midfoot ul {
    /* margin-left: 40px; */
    font-family: 'Baloo Da 2';
    font-weight: 400;
}
.midfoot ul li {
    list-style: none;
    line-height: 30px;
}
.midfoot ul li a{
    text-decoration: none;
    color: white;
}
.rightfoot {
    width: 25%;
    height: 100%;
    /* background-color: rgb(111, 89, 190); */
}
.rightfoot p{
    color: white;
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 400;

}
.rightfoot ul {
    /* margin-left: 40px; */
    font-family: 'Baloo Da 2';
    font-weight: 400;
}
.rightfoot ul li {
    list-style: none;
    line-height: 30px;
}
.rightfoot ul li a{
    text-decoration: none;
    color: white;
}
/* =========End Footer===== */