body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    
}
/* ------Header Start------ */
header {
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 75px;
}
header .main-header-section{
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    
}

header .leftnav .logo img{
    height: 44px;
    margin-top: 14px; 
    /* background-color: blueviolet; */
}
header .centernav{
    width: 40%;
    margin-left: 200px;
    /* background-color: aqua; */
    
}
header .centernav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 77px;
    font-family: 'Baloo Da 2';
}
header .centernav ul li{
    min-width: 100px;
    line-height: 75px;
    text-align: center;
    font-size: 16.5px;
    
}
header .centernav ul li a{
    text-decoration: none;
    color: white;
}
header .centernav ul li a:hover{
    border-bottom: 2px solid rgb(110, 110, 110);

}
header .search{
    line-height: 75px;
    margin-left: -108px;
    /* background-color: red; */
}
header .search input{
    background-color: rgb(189, 189, 189);
    border-radius: 190px;
    width: 128px;
    height: 28px;
    border: none;
    outline: none;
    
}
header .search button{
    background-color: rgb(189, 189, 189);
    border: none;
    border-radius: 100px;
    height: 20px;
    width: 22px;
    margin-left: -128px; 
}
::placeholder{
    text-align: center;
}
.rightnav{
    min-width: 10px;
    line-height: 75px;
    /* background-color: aqua; */
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.heartcon {
    width: 30%;
    /* background-color: brown; */
    text-align: center;
    font-size: 17px;
}
.heartcon a i{
    color: white;
}
.usercon {
    width: 30%;
    /* background-color: blueviolet; */
    text-align: center;
    font-size: 20px;
}
.usercon a i{
    color: white;
}
.idkcon{
    width: 30%;
    /* background-color: cadetblue; */
    line-height: 73px;
    text-align: center;
    font-size: 18px;
}
.idkcon a i{
    color: white;
}
 .rightnav a i:hover{
    color: rgb(170, 170, 170);
 }



/* -------Header End-------- */
/* --------main------- */
.maincon {
    width: 90%;
    margin: auto;
    height: 400px;
    /* background-color: red; */
}
.useless {
    width: 100%;
    height: 40px;
    /* background-color: brown; */
}
.writingcon {
    width: 70%;
    height: 111px;
    /* background-color: blue; */
    text-align: center;
    margin-left: 180px;
    margin-top: 100px;
    font-family: 'Noto Sans', sans-serif;
}
h3{
    word-spacing: 4px;
    font-size: 18px;
}
.writingcon p{
    font-size: 15px;
}

/* ---------end main------ */

/* -----info-------- */
.info {
    width: 90%;
    margin: auto;
    height: 350px;
    /* background-color: grey; */
    font-family: 'Noto Sans', sans-serif;
}
.infocon {
    width: 80%;
    margin: auto;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}
.left {
    width: 32%;
    height: 100%;
    /* background-color: brown; */
}
.mid {
    width: 32%;
    height: 100%;
    /* background-color: yellow; */

}
.right {
    width: 32%;
    height: 100%;
    /* background-color: gray; */
}
.infocon p {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 39px;
}
.boxinfo {
    /* background-color: greenyellow; */
    margin-top: 30px;
}
.infocon ul {
    list-style: none;
    font-size: 14px;
}
/* ---------end info------ */

/* -------contact------ */
.contact {
    width: 90%;
    margin: auto;
    height: 580px;
    /* background-color: burlywood; */
    display: flex;
    font-family: 'Noto Sans', sans-serif;
}
.maincontact {
    width: 50%;
    height: 100%;
    /* background-color: red; */
}
.leftcontact {
    width: 90%;
    height: 94%;
    margin: auto;
    /* background-color: aqua; */
    
}
.leftcontact h3{
    font-size: 17px;
}
.leftcontact p{
    font-size: 14px;
}

.maincontact label{
    font-size: 12px;
}
input{
    width: 98%;
    height: 35px;
    outline: none;
    border: 1px solid rgb(170, 170, 170);
    /* border-radius: 5px; */
}
textarea{
    outline: none;
    border: 1px solid rgb(170, 170, 170);
}
.contact ::placeholder{
    text-align: left;
}

/* -------Submit con------ */
.submitcon {
    /* margin: auto; */
    width: 100%;
    height: 40px;
}
.subcon {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgb(10, 10, 10);
    line-height: 40px;
}
.submitcon a{
    font-size: 11px;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.subcon:hover {
    background-color: white;
    color: black;
    transition:all .4s ease;
    border: 1px solid black;
}
/* ------ end submit con------- */

.rightcontact {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
} 

.faqimage {
    width: 75%;
    height: 35%;
    /* background-color: aqua; */
    margin-top: 210px;
    margin-left: 28px;
}
.faqimage img{
    width: 100%;
    height: 100%;
}

/* ------end contact------ */

/* =========Footer========= */
.foot {
    background-color: rgb(0, 0, 0);
    height: 120px;
    width: 100%;
    /* position: relative; */
    margin-top: 140px;
}
.prefootcon {
    position: relative;
    /* margin: 90%; */
    width: 90%;
    margin: auto;
    display: flex;
    height: 100%;
    /* background-color: aqua; */
}
.leftprefoot {
    /* background-color: brown; */
    height: 60px;
    width: 105px;
    margin-top: 30px;
}
.leftprefoot img{
    height: 100%;
    width: 100%;
}
.midprefoot {
    /* background-color: aqua; */
    height: 68px;
    width: 335px;
    /* position: relative; */
    left: 90px;
    margin-top: 25px;
    margin-left: 60px;
}
.midprefoot input{
    margin-top: 28px;
    height: 30px;
    width: 245px;
    margin-top: -5px;
    outline: none;
    position: relative;
}

.midprefoot p{
    font-size: 13px;
    margin-top: 4px;
    color: white;
    font-family: sans-serif;
    font-style: normal;
}
button{
    background-color: rgb(75, 75, 75);
    height: 36px;
    width: 83px;
    border: none;
    /* position: relative; */
    margin-left: -6px;
    /* text-align: center; */
    
}
button .submit{
    color: white;
    cursor: pointer;
}
.rightprefoot {
    /* background-color: aqua; */
    height: 33px;
    width: 135px;
    left: 90px;
    margin-top: 42px;
    margin-left: 560px;
    display: flex;
    justify-content: space-between;
}
.twitter {
    height: 100%;
    width: 28%;
}
.twitter img {
    width: 90%;
    height: 100%;
    border: 1px;
    border-radius: 30px;
}
.twitter img:hover{
    opacity: 60% ;
    
}
.facebook {
    height: 100%;
    width: 28%;
    /* background-color: rgb(212, 145, 145); */
}
.facebook img{
    width: 90%;
    height: 100%;
    border: 1px;
    border-radius: 30px;
}
.facebook img:hover{
    opacity: 60% ;
    
}
.insta {
    height: 100%;
    width: 28%;
    /* background-color: rgb(138, 64, 182); */
}
.insta img{
    width: 90%;
    height: 100%;
    border: 1px;
    border-radius: 30px;
}
.insta img:hover{
    opacity: 60% ;
    
}


/* ---------mainfoot------- */

footer {
    background-color: rgb(48, 48, 48);
    margin-top: -16px;
    height: 450px;
}
.footbox {
    /* background-color: red; */
    width: 100%;
    height: 100%;
}
.box {
    width: 100%;
    height: 65%;
    /* background-color: aqua; */
    /* position: relative; */
    display: flex;

}
.box ul li a:hover{
    color: rgb(168, 168, 168);
    text-decoration:underline;
}
.footbox ul li a{
    color: rgb(240, 240, 240);
    text-decoration: none;
}
.leftfoot {
    /* background-color: purple; */
    width: 25%;
    height: 100%;
}
.leftfoot p{
    color: white;
    margin-left: 80px;
    /* font-weight: bold; */
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 400;

}
.leftfoot ul {
    margin-left: 40px;
    font-family: 'Baloo Da 2';
    font-weight: 400;
}
.leftfoot ul li {
    list-style: none;
    line-height: 30px;
}
.midfoot {
    width: 25%;
    height: 100%;
    /* background-color: aqua; */
}
.midfoot p{
    color: white;
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 400;

}
.midfoot ul {
    /* margin-left: 40px; */
    font-family: 'Baloo Da 2';
    font-weight: 400;
}
.midfoot ul li {
    list-style: none;
    line-height: 30px;
}
.rightfoot {
    width: 25%;
    height: 100%;
    /* background-color: rgb(111, 89, 190); */
}
.rightfoot p{
    color: white;
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 400;

}
.rightfoot ul {
    /* margin-left: 40px; */
    font-family: 'Baloo Da 2';
    font-weight: 400;
}
.rightfoot ul li {
    list-style: none;
    line-height: 30px;
}
.lastright {
    width: 25%;
    height: 100%;
    /* background-color: rgb(111, 89, 190); */
}
.lastright p{
    color: white;
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 400;

}
.lastright ul {
    /* margin-left: 40px; */
    font-family: 'Baloo Da 2';
    font-weight: 400;
}
.lastright ul li {
    list-style: none;
    line-height: 30px;
}

/* ----endbox---- */

.endbox {
    height: 35%;
    width: 90%;
    margin: auto;
    /* background-color: blueviolet; */
}
.lining{
    width: 100%;
    height: 2px;
    background-color: gray;
}
.endlogo{
    width: 100%;
    height: 76%;
    /* background-color: cadetblue; */
    
}
.endcon {
    width: 120px;
    height: 65px;
    margin: auto;
    /* margin-top: 11px; */
}
.endcon img {
    width: 95%;
    height: 100%;
    margin-top: 32px;
}
.end{
    height: 22.5%;
    width: 100%;
    /* background-color: brown; */
}
.end p{
    color: white;
    margin: auto;
    /* background-color: yellow; */
    text-align: center;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
}
/* =========End Footer===== */
